<h1><%= @user.first_name %></h1>

  <p><%= @user.email %></p>

  <p><%= link_to "Edit", edit_user_path(@user) %></p>

<h1>Favorite Wines</h1>
<ul>
  <% current_user.wines.each do |wine| %>
  <li><%= link_to wine["name"], selection_path + "?&id=#{wine["snooth_id"]}&food=1" %></li>

  <% end %>
</ul>



