<div class="presentation">
  <div class="presentation">
    <h1>Project 1 Overview</h1>

    <h3>What am I most Proud of?</h3>
      <ul>
        <li type=circle> How Meta this.</li>
        <li type=circle> Beginning to end.</li>
        <li type=circle> <i>T<b>ac</i>kl</b>ing <span class="big">my</span> <span class="scary">CSS</span> fear.</li>
      </ul>
    <h3>What was the biggest difficulty I ran into?</h3>
      <ul>
        <li type=circle> Internally before beginning? - <span class="scary">CSS</span></li>
        <li type=circle> API-Snooth</li>
        <li type=circle> Persistence</li>
      </ul>
    <h3>What would I do differently if I had to start over?</h3>
      <ul>
        <li type=circle> More 'market research'</li>
        <li type=circle> More API research</li>
        <li type=circle> More structured approach to <span class="scary">CSS</span></li>
      </ul>
  </div>
</div>
