<h1>Search Results:</h1>


  <table>
    <tr>
      <th>Name:</th>
      <th>Price:</th>
    </tr>
    <% @wines.each do |wine| %>
    <tr>
      <td><%= link_to wine["name"], selection_path + "?q=#{wine["name"]}" %></td>
      <td><%= wine["price"] %></td>
    </tr>
    <% end %>
  </table>

